.keyboard-keys {
    text-align: center;
    width: 745px;
}

.keyboard-key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}

.key-medium {
    width: 11%;
}

.key-wide {
    width: 14%;
}

.key-extra-wide {
    width: 17%;
}

.key-spacebar {
    width: 53.5%;
}